<div class="panel-header panel-header-sm"></div>
<div id="boletin" class="main-content">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            {{ !objetoParaEditar ? "Nuevo" : "Editar" }} Usuario
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Usuario</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="SuperStar003"
                  maxlength="20"
                  (change)="usuarioOnChange($event)"
                  [value]="usuario.Usuario"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Rol</label>
                <div ngbDropdown class="d-block">
                  <button
                    type="button"
                    class="btn btn-primary m-0"
                    id="dropdownMenu1"
                    ngbDropdownToggle
                    [disabled]="usuario.EsAdmin"
                  >
                    {{ usuario.Rol }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                    <button
                      *ngFor="let rol of roles"
                      type="button"
                      class="dropdown-item"
                      (click)="rolSelect(rol.Id, rol.Rol)"
                    >
                      {{ rol.Rol }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <p>{{objetoParaEditar.Usuario}}</p> -->
          <!-- <p>{{objetoParaEditar.toString()}}</p> -->
          <div *ngIf="!objetoParaEditar" class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="*******"
                  minlength="6"
                  (change)="contraOnChange($event)"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirmar Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="*******"
                  minlength="6"
                  (change)="confirmarContraOnChange($event)"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Empleado DNI</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="0501200504202"
                  (change)="DNIOnChange($event)"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Empleado {{ objetoParaEditar.Empleado }}</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="objetoParaEditar.Empleado"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col d-flex justify-content-center"
              style="min-height: 80px"
            >
              <div class="form-group">
                <label for="">Administrador</label>
                <input
                  class="switch-input"
                  type="radio"
                  name="rdo"
                  id="si"
                  (click)="adminToggle()"
                  [checked]="usuario.EsAdmin"
                />
                <input
                  class="switch-input"
                  type="radio"
                  name="rdo"
                  id="no"
                  (click)="adminToggle()"
                  [checked]="!usuario.EsAdmin"
                />
                <div class="switch">
                  <label for="si">Sí</label>
                  <label for="no">No</label>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
