<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Registro de Declaración de Valor</h5>
        </div>
        <div class="card-body">
          <form>
            <h6>I. Información General</h6>
            <h6>A. Información General de la Aduana</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>1. Aduana de Ingreso</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>2. Aduana de Despacho</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <h6>B. Información General del Importador</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>4. Nombre o Razón Social</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>5. Registro Tributario (RTN)</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>6. Número de Registro</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>7. Dirección</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>8. Nivel Comercial</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otro Nivel Comercial</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>B. Información General del Importador</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>9. Nombre o Razón Social</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>10. Dirección</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>11. Condición Comercial</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Condición</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>B. Información General del Importador</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>9. Nombre o Razón Social</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>10. Dirección</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>14. Tipo Intermediario</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otro Tipo Intermediario</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>E. Característica de la Transacción</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País de Entrega</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>15. Lugar de Entrega</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>15.1. Incoterm</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Version</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>17. Número de Contrato</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>17.1. Fecha de Contrato</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>18. Forma de Envío</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Forma de Envío (Especifique)</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Pago Efectuado</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>19. Forma de Pago</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Forma de Pago (Especifique)</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>20. Lugar de Embarque (<a href="https://unece.org/trade/cefact/unlocode-code-list-country-and-territory">ver el catálogo internacional</a>)</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País de Exportación</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha de Exportación</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>22. Moneda en que se Realizó la Transacción</label>
                  <select class="form-select">
                    <option selected>- Seleccione -</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>23. Tipo de Cambio de Moneda Extranejera a Dólares USD</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>Facturas</h6>
            <div class="d-flex justify-content-center">
              <small>- Mostrando un total de: <span style="color: aquamarine;"></span> Facturas</small>
              <button type="button" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Agregar Factura</button>
            </div>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>Nro. Factura</th>
                  <th>Fecha</th>
                  <th>Operaciones</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6>II. Condiciones de la Transacción</h6>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>#</th>
                  <th>CONDICIÓN</th>
                  <th>VALOR ASIGNADO CONDICIÓN</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      24
                    </td>
                    <td>
                      Existen restricciones a la cesión o utilización de las mercancías por el comprador, distintas de las excepciones previstas en el artículo 1.1 a) del Acuerdo
                    </td>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6>III. Determinación del Valor en Aduana, en Pesos Centroamericanos</h6>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>#</th>
                  <th>BASE DE CÁLCULO</th>
                  <th>VALOR PESO C.A. (USD)</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      39
                    </td>
                    <td>
                      Precio según factura
                    </td>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <small>Cuando alguno/s de los ajustes de las casillas 42.1 a 42.12 se declaren con base en resolución o disposición administrativa, indicar el número y fecha de estas, así como el número de la casilla/s a la que corresponde.</small>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="../assets/img/mike.jpg"
                alt="..."
              />
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">michael24</p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br />
            Your chick she so thirsty <br />
            I'm in that two seat Lambo"
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
