<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Registro de Declaración de Valor</h5>
        </div>
        <div class="card-body">
          <form>
            <h6>I. Información General</h6>
            <h6>A. Información General de la Aduana</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>1. Aduana de Ingreso</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{aduseling}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                        *ngFor="let pais of aduanas"
                        type="button"
                        class="dropdown-item"
                        (click)="aduSelectIn(pais.Id, pais.Aduana)"
                      >
                        {{ pais.Aduana }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>2. Aduana de Despacho</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                    {{aduselect}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                        *ngFor="let pais of aduanas"
                        type="button"
                        class="dropdown-item"
                        (click)="aduSelect(pais.Id, pais.Aduana)"
                      >
                        {{ pais.Aduana }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>B. Información General del Importador</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>4. Nombre o Razón Social</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Empresa Los Riques S.A."
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>5. Registro Tributario (RTN)</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="05019001042021"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>6. Número de Registro</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="894098"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                    {{paiselect}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of paises"
                      type="button"
                      class="dropdown-item"
                      (click)="paisSelect(pais.Id, pais.Pais)"
                    >
                      {{ pais.Pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{estadoselec}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of estados"
                      type="button"
                      class="dropdown-item"
                      (click)="estadoSelec(pais.Id, pais.Estado)"
                    >
                      {{ pais.Estado }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{ciuselec}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                        *ngFor="let pais of ciudades"
                        type="button"
                        class="dropdown-item"
                        (click)="ciudadSelec(pais.Id, pais.Ciudad)"
                      >
                        {{ pais.Ciudad }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>7. Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="3 calle 4 avenida frente a Ferretería Los Hermanos"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="importador@gmail.com"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="48949488"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" placeholder="48464" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>8. Nivel Comercial</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                    {{nivelselected}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let coso of nivelcomercial"
                      type="button"
                      class="dropdown-item"
                      (click)="nivelSelec(coso)"
                    >
                      {{ coso }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otro Nivel Comercial</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>C. Información General del Proveedor</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>9. Nombre o Razón Social</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                     {{paisselectInfoGeneral}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of paises"
                      type="button"
                      class="dropdown-item"
                      (click)="paisInfoGeneralSelec(pais.Id, pais.Pais)"
                    >
                      {{ pais.Pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{EstadoSelctInfoGen}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of estados"
                      type="button"
                      class="dropdown-item"
                      (click)="EstaInfoGeneralSelec(pais.Id, pais.Estado)"
                    >
                      {{ pais.Estado }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{ciuSelctInfoGen}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of ciudades"
                      type="button"
                      class="dropdown-item"
                      (click)="ciuInfoGeneralSelec(pais.Id, pais.Ciudad)"
                    >
                      {{ pais.Ciudad }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>10. Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="3 calle 4 avenida frente a Ferretería Los Hermanos"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="importador@gmail.com"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="48949488"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" placeholder="48464" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>11. Condición Comercial</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{siruacioncomselected}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of situacioncomercial"
                      type="button"
                      class="dropdown-item"
                      (click)="siruacionselec( pais)"
                    >
                      {{ pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Condición</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>D. Información General del Intermediario</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>12. Nombre o Razón Social</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>País</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                     {{paisselectInterme}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of paises"
                      type="button"
                      class="dropdown-item"
                      (click)="paisselecInterm(pais.Id, pais.Pais)"
                    >
                      {{ pais.Pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Estado</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{EstadoSelctInterm}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of estados"
                      type="button"
                      class="dropdown-item"
                      (click)="estselecInterm(pais.Id, pais.Estado)"
                    >
                      {{ pais.Estado }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{ciuSelctInterm}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of ciudades"
                      type="button"
                      class="dropdown-item"
                      (click)="CiuselecInterm(pais.Id, pais.Ciudad)"
                    >
                      {{ pais.Ciudad }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>13. Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="3 calle 4 avenida frente a Ferretería Los Hermanos"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="importador@gmail.com"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="48949488"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" class="form-control" placeholder="48464" />
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label>14. Tipo Intermediario</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      - Seleccionar -
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button type="button" class="dropdown-item">
                        Action - 1
                      </button>
                      <button type="button" class="dropdown-item">
                        Action - 2
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otro Tipo Intermediario</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <h6>E. Característica de la Transacción</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País de Entrega</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0 m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{paisselectCARC}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of paises"
                      type="button"
                      class="dropdown-item"
                      (click)="paisSelectCarac(pais.Id, pais.Pais)"
                    >
                      {{ pais.Pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>15. Lugar de Entrega</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>17. Número de Contrato</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>17.1. Fecha de Contrato</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>18. Forma de Envío</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{FormaEnvioSelect}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of FormaEnvio"
                      type="button"
                      class="dropdown-item"
                      (click)="FormaEnvioS(pais)"
                    >
                      {{ pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Forma de Envío (Especifique)</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Pago Efectuado</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{pagoefecSel}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of SiNo"
                      type="button"
                      class="dropdown-item"
                      (click)="PagoEfecS(pais)"
                    >
                      {{ pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>19. Forma de Pago</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      {{FormaPago}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button
                      *ngFor="let pais of FormaP"
                      type="button"
                      class="dropdown-item"
                      (click)="FormaPagoS(pais)"
                    >
                      {{ pais }}
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Otra Forma de Pago (Especifique)</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      - Seleccionar -
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button type="button" class="dropdown-item">
                        Action - 1
                      </button>
                      <button type="button" class="dropdown-item">
                        Action - 2
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >20. Lugar de Embarque (<a
                      href="https://unece.org/trade/cefact/unlocode-code-list-country-and-territory"
                      >ver el catálogo internacional</a
                    >)</label
                  >
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      - Seleccionar -
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button type="button" class="dropdown-item">
                        Action - 1
                      </button>
                      <button type="button" class="dropdown-item">
                        Action - 2
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>País de Exportación</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      - Seleccionar -
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button type="button" class="dropdown-item">
                        Action - 1
                      </button>
                      <button type="button" class="dropdown-item">
                        Action - 2
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha de Exportación</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>22. Moneda en que se Realizó la Transacción</label>
                  <div ngbDropdown class="d-block">
                    <button
                      type="button"
                      class="btn btn-primary m-0"
                      id="dropdownMenu1"
                      ngbDropdownToggle
                    >
                      - Seleccionar -
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                      <button type="button" class="dropdown-item">
                        Action - 1
                      </button>
                      <button type="button" class="dropdown-item">
                        Action - 2
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >23. Tipo de Cambio de Moneda Extranejera a Dólares
                    USD</label
                  >
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Profile update
                </h4>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                      <input
                        id="dateOfBirth"
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        ngbDatepicker
                        #dp="ngbDatepicker"
                      />
                      <button
                        class="btn btn-outline-secondary calendar"
                        (click)="dp.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  (click)="modal.close('Save click')"
                >
                  Save
                </button>
              </div>
            </ng-template>
            <h6>Facturas</h6>
            <div class="d-flex justify-content-between align-items-center">
              <small
                >- Mostrando un total de:
                <span style="color: aquamarine"></span> Facturas</small
              >
              <button
                type="button"
                type="button"
                class="btn btn-outline-primary"
                (click)="open(content)"
              >
                <i
                  class="now-ui-icons ui-1_simple-add"
                  style="margin-right: 5px"
                ></i>
                Agregar Factura
              </button>
            </div>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>Nro. Factura</th>
                  <th>Fecha</th>
                  <th>Operaciones</th>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6>II. Condiciones de la Transacción</h6>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>#</th>
                  <th>CONDICIÓN</th>
                  <th>VALOR ASIGNADO CONDICIÓN</th>
                </thead>
                <tbody>
                  <tr>
                    <td>24</td>
                    <td>
                      Existen restricciones a la cesión o utilización de las
                      mercancías por el comprador, distintas de las excepciones
                      previstas en el artículo 1.1 a) del Acuerdo
                    </td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input24 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input24change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input24change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>24.1</td>
                    <td>Indicar en que consiste la o las restricciones</td>
                    <td>
                      <input
                        id="restrictionInput"
                        class="form-control"
                        type="text"
                        placeholder="- VALOR -"
                        [disabled]="input24 !== 'SÍ'"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td>
                      Depende la venta o el precio de alguna condición o
                      contraprestación, con relación a las mercancías a valorar
                    </td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input25 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input25change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input25change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>25.1</td>
                    <td>
                      Indicar en que consiste la condición o contrapresentación,
                      y si es cuantificable consignar el monto en la casilla
                      Nro. 42.1
                    </td>
                    <td>
                      <input
                        id="restrictionInput"
                        class="form-control"
                        type="text"
                        placeholder="- VALOR -"
                        [disabled]="input25 !== 'SÍ'"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>26</td>
                    <td>
                      Está la venta condicionada a revertir directa o
                      indirectamente al vendedor parte alguna del producto de la
                      reventa o de cualquier cesión o utilización posterior de
                      las mercancías, por el comprador, en caso afirmativo,
                      declara el monto de la reversión en la casilla Nro. 42
                    </td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input26 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input26change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input26change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>Existe vinculación entre el vendedor y el comprador</td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input27 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input27change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input27change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>27.1</td>
                    <td>Indicar el tipo de vinculación</td>
                    <td>
                      <input
                        id="restrictionInput"
                        class="form-control"
                        type="text"
                        placeholder="- VALOR -"
                        [disabled]="input27 !== 'SÍ'"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>27.2</td>
                    <td>Indicar si la vinculación ha influido en el precio</td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                          [disabled]="input27 !== 'SÍ'"
                        >
                          {{ input27 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input27change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input27change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>28</td>
                    <td>
                      Existen pagos indirectos y/o descuentos retroactivos
                    </td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input28 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input28change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input28change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>28.1</td>
                    <td>
                      Indicar en que concepto y el monto declarado en la casilla
                      Nro. 40
                    </td>
                    <td>
                      <input
                        id="restrictionInput"
                        class="form-control"
                        type="text"
                        placeholder="- VALOR -"
                        [disabled]="input28 !== 'SÍ'"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>29</td>
                    <td>
                      Existen cánones y derechos de licencia que el comprador
                      tenga que pagar directa o indirectamente
                    </td>
                    <td>
                      <div ngbDropdown class="d-flex">
                        <button
                          type="button"
                          class="btn btn-primary m-0 flex-grow-1"
                          id="dropdownMenu1"
                          ngbDropdownToggle
                        >
                          {{ input29 }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input29change($event)"
                            value="SÍ"
                          >
                            SÍ
                          </button>
                          <button
                            type="button"
                            class="dropdown-item"
                            (click)="input29change($event)"
                            value="NO"
                          >
                            NO
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>29.1</td>
                    <td>
                      Indicar su naturaleza y el monto declarado en la casilla
                      Nro. 42.9
                    </td>
                    <td>
                      <input
                        id="restrictionInput"
                        class="form-control"
                        type="text"
                        placeholder="- VALOR -"
                        [disabled]="input29 !== 'SÍ'"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6>
              III. Determinación del Valor en Aduana, en Pesos Centroamericanos
            </h6>
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>#</th>
                  <th>BASE DE CÁLCULO</th>
                  <th>VALOR PESO C.A. (USD)</th>
                </thead>
                <tbody>
                  <tr>
                    <td>39</td>
                    <td>Precio según factura</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>40</td>
                    <td>Pagos indirectos y/o descuentos retroactivos</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>
                      Precio realmente pagado o por pagar por las mercancías
                      importadas (39 + 40)
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr style="font-weight: 700">
                    <td>42</td>
                    <td colspan="2">
                      ADICIONES AL PRECIO REALMENTE PAGADO O POR PAGAR POR LAS
                      MERCANCÍAS IMPORTADAS
                    </td>
                  </tr>
                  <tr>
                    <td>42.1</td>
                    <td>
                      Montro de la condición o contraprestación a que se refiere
                      la casilla 25.1
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.2</td>
                    <td>
                      Monto de la reversión a la que se refiere la casilla 25
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.3</td>
                    <td>
                      Gastos por comisiones y correlajes, salvo los de
                      comisiones de compra
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.4</td>
                    <td>Gastos y costos de envases y embalajes</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.5</td>
                    <td>
                      Valor de los materiales consumidos en la producción de las
                      mercancías importadas
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.6</td>
                    <td>
                      Valor de las herramientos, matrices, moldes, y elementos
                      análogos utilizados para la producción de las mercancías
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.7</td>
                    <td>
                      Valor de los materiales consumidos en la producción de las
                      mercancías importadas
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.8</td>
                    <td>
                      Valor de ingeniería, creación y perferccionamiento,
                      trabajos artísticos, diseños y planos y croquis realizados
                      fuera del país de importación y necesarios para la
                      producción de mercancías importadas
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.9</td>
                    <td>
                      Valor de los cánones y derechos de licencia, a que se
                      refiere la casilla 29.1
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.10</td>
                    <td>
                      Gastos de transporte de la mercadería importada hasta el
                      puerto o lugar de importación
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.11</td>
                    <td>
                      Gastos de carga, descarga y manipulación ocasionadas por
                      el transporte de las mercaderías importadas hasta el
                      puerto o lugar de importación
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>42.12</td>
                    <td>Costos del Seguro</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>
                      Total de ajustes al precio realmente pagado o por pagar
                      (sumatoria de 42.1 a 42.12)
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr style="font-weight: 700">
                    <td>44</td>
                    <td colspan="2">
                      DEDUCCIONES AL PRECIO REALMENTE PAGADO O POR PAGAR POR LAS
                      MERCANCÍAS IMPORTADAS
                    </td>
                  </tr>
                  <tr>
                    <td>44.1</td>
                    <td>
                      Gastos de construcción, armado, montaje, mantenimiento o
                      asistencia técnica realizados después de la importación,
                      en relación con las mercancías importadas
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>44.2</td>
                    <td>
                      Costos de transporte posterior al puerto o lugar de
                      importación
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>44.3</td>
                    <td>
                      Derechos e impuestos aplicables en el país de importación
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>44.4</td>
                    <td>Monto de intereses</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>44.5</td>
                    <td>Otras deducciones legalmente aplicables</td>
                    <td>
                      <input type="text" class="form-control" placeholder="0" />
                    </td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>
                      Total deducciones al precio realmente pagado o por pagar
                      por las mercancías importadas
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>46</td>
                    <td>VALOR EN ADUANA (41 + 43 - 45)</td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        disabled
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <small class="text-primary"
              >Cuando alguno/s de los ajustes de las casillas 42.1 a 42.12 se
              declaren con base en resolución o disposición administrativa,
              indicar el número y fecha de estas, así como el número de la
              casilla/s a la que corresponde.</small
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Preview"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="content">
    <div class="modal-header">
      <h4 class="modal-title">Preview</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button
        type="button"
        pButton
        label="Close"
        (click)="display = false"
        class="ui-button-danger"
      ></button>
    </div>
  </ng-template>
</p-dialog>
