<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            SP011 - SOLICITUD DE CONTRATO DE ADHESION PARA PERSONA JURIDICA
          </h5>
        </div>
        <div class="card-body">
          <form>
            <h6>Datos generales</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>RTN Solicitante</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="05012005042021"
                    maxlength="20"
                  />
                </div>
              </div>
            </div>
            <h6>Datos a Informar</h6>
            <small
              >- Todos los datos marcados con un
              <span style="color: red">*</span> son requeridos.</small
            >
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>Dato</th>
                  <th>Descripcion</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD001 - OFICINA DONDE PRESENTARA LA SOLICITUD Y
                      DOCUMENTACION
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD106 - ESTADO CIVIL DEL COMERCIANTE
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD298 - PROFESION U OFICIO DEL REPRESENTANTE LEGAL (SEGUN
                      CLASIFICADOR NACIONAL DE OCUPACIONES DE HONDURAS,
                      CNOH-2018) <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD109 - FORMA DE REPRESENTACION
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD296 - ESTADO CIVIL DEL REPRESENTANTE LEGAL (SI HA
                      INFORMADO REPRESENTACION BAJO REPRESENTANTE LEGAL)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD298 - PROFESION U OFICIO DEL REPRESENTANTE LEGAL (SI HA
                      INFORMADO REPRESENTACION BAJO REPRESENTANTE LEGAL)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      SD006 - DEPARTAMENTO Y MUNICIPIO
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD301 - CIUDAD <span style="color: red">*</span></td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD302 - ALDEA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD303 - CALLE Y AVENIDA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD304 - BARRIO O COLONIA <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD305 - EDIFICIO CON NUMERO DE LOCAL O APARTAMENTO
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD306 - PUNTOS DE REFERENCIA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select">
                        <option selected>- Seleccione -</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>SD310 - DEPARTAMENTO Y MUNICIPIO</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD311 - CIUDAD</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD312 - ALDEA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD313 - CALLE Y AVENIDA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD314 - BARRIO O COLONIA</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD315 - EDIFICIO CON NUMERO DE LOCAL O APARTAMENTO</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>SD316 - PUNTOS DE REFERENCIA (EN CASO DE HABER)</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD005 - NUMERO DE TELÉFONO FIJO DE LA PERSONA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD065 - NUMERO DE TELÉFONO CELULAR DE LA PERSONA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD042 - CORREO ELECTRÓNICO DONDE NOTIFICAR (PARA EFECTOS
                      DE LA RECEPCIÓN O ENVÍO DE SOLICITUDES, ESCRITOS, AUTOS,
                      NOTIFICACIONES, REQUERIMIENTOS Y CUALQUIER OTRO PROVEÍDO,
                      COMUNICACIONES, RESOLUCIONES Y CUALQUIER OTRA ACTUACIÓN
                      ANTE LA ADMINISTRACIÓN ADUANERA O EMITIDO POR ESTA)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SD201 - CORREO ELECTRÓNICO ALTERNATIVO
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6>Datos a Informar</h6>
            <small
              >- Todos los datos marcados con un
              <span style="color: red">*</span> son requeridos.</small
            >
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>
                    Dato
                    <p>
                      Solo se aceptan caracteres alfanuméricos, no utilice
                      espacios, comas, puntos, etc.
                    </p>
                  </th>
                  <th>Descripcion</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SS100 - REGISTRO TRIBUTARIO NACIONAL (RTN) DE LA SOCIEDAD
                      MERCANTIL
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SS128 - REGISTRO TRIBUTARIO NACIONAL (RTN) DEL
                      REPRESENTANTE LEGAL
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SS018 - DOCUMENTO O TARJETA DE IDENTIDAD DEL REPRESENTANTE
                      LEGAL
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" />
                    </td>
                    <td>
                      SS027 - ESCRITURA PUBLICA DE CONSTITUCIÓN Y SUS
                      MODIFICACIONES SI LAS HUBIERA (DE LA SOCIEDAD MERCANTIL)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea
                    rows="4"
                    cols="80"
                    class="form-control"
                    placeholder="Here can be your description"
                    value="Mike"
                  >
Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="../assets/img/mike.jpg"
                alt="..."
              />
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">michael24</p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br />
            Your chick she so thirsty <br />
            I'm in that two seat Lambo"
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
