<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card" style="height: 70vh">
        <div class="card-header">
          <h5 class="title" (click)="Editar('Hola')">Lista de {{ titulo }}</h5>
        </div>
        <div
          class="card-body"
          style="overflow-y: auto; overflow-x: auto; max-height: 80%"
        >
          <form>
            <input
              type="text"
              class="form-control"
              style="padding: 8px; margin: 15px auto; width: 100%"
              placeholder="Buscar..."
              (keyup)="updateFilter($event)"
            />
            <ngx-datatable
              #table
              [columns]="columns"
              [rows]="rows"
              [headerHeight]="50"
              [footerHeight]="50"
              class="material table"
              [columnMode]="ColumnMode.force"
              rowHeight="auto"
              [limit]="10"
              [scrollbarH]="true"
              [messages]="{ emptyMessage: 'No se encontraron registros' }"
            >
              <ngx-datatable-column
                *ngFor="let column of columns; let i = index"
                name="{{ column.name }}"
                prop="{{ column.prop }}"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Actions"
                prop="name"
                style="display: flex; min-width: 400px; gap: 5px"
              >
                <ng-template
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                  style="display: flex; min-width: 400px; gap: 5px"
                >
                  <div style="display: flex; min-width: 400px; gap: 5px">
                    <button
                      class="btn btn-primary rounded"
                      (click)="VerDetalle(row.Id)"
                    >
                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                      Ver detalles
                    </button>
                    <button
                      class="btn btn-primary rounded"
                      (click)="Editar(row.Id)"
                    >
                      <i class="now-ui-icons design-2_ruler-pencil"></i>
                      Editar
                    </button>
                    <button
                      class="btn btn-primary rounded"
                      (click)="Eliminar(row.Id)"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                      Eliminar
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
