<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ objetoParaEditar ? "Editar" : "Nuevo" }} Aduana
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-outline-primary"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="now-ui-icons ui-1_simple-remove"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado</label>
        <div ngbDropdown class="d-block">
          <button
            type="button"
            class="btn btn-primary m-0"
            id="dropdownMenu1"
            ngbDropdownToggle
          >
            {{ empresa.Estado }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
            <button
              *ngFor="let estado of estados"
              type="button"
              class="dropdown-item"
              (click)="estadoSelect(estado.Id, estado.Estado)"
            >
              {{ estado.Estado }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Ciudad</label>
        <div ngbDropdown class="d-block">
          <button
            type="button"
            class="btn btn-primary m-0"
            id="dropdownMenu1"
            ngbDropdownToggle
          >
            {{ empresa.Ciudad }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
            <button
              *ngFor="let ciudad of ciudadesFiltradas"
              type="button"
              class="dropdown-item"
              (click)="ciudadSelect(ciudad.Id, ciudad.Ciudad)"
            >
              {{ ciudad.Ciudad }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="form-group">
        <label>Aduana</label>
        <input
          type="text"
          class="form-control"
          placeholder="Aduana Tocontin"
          maxlength="20"
          (change)="empresaOnChange($event)"
          [value]="empresa.Empresa"
          style="max-width: 150px"
        />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" style="gap: 5px">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="activeModal.close('Save click')"
  >
    <i class="now-ui-icons ui-1_simple-remove" style="margin-right: 5px"></i>
    Cancelar
  </button>
  <button class="btn btn-primary" (click)="guardar()">
    <i class="now-ui-icons ui-1_check" style="margin-right: 5px"></i>
    Guardar
  </button>
</div>
