<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ objetoParaEditar ? "Editar" : "Nuevo" }} Aranceles
  </h4>
  <button
    type="button"
    class="btn btn-sm btn-outline-primary"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="now-ui-icons ui-1_simple-remove"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Arancel</label>
        <input
        type="text"
          class="form-control"
          placeholder="IMP. SOBRE VENTAS"
          (change)="arancelOnChange($event)"
          [value]="arancel.Arancel"
          style="max-width: 150px"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Porcentaje</label>
          <input
            type="number"
            class="form-control"
            (input)="porcentajeOnChange($event)"
            [value]="arancel.Porcentaje"
            style="max-width: 150px"
          />
        </div>
      </div>
  </div>
</div>
<div class="modal-footer" style="gap: 5px">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="activeModal.close('Save click')"
  >
    <i class="now-ui-icons ui-1_simple-remove" style="margin-right: 5px"></i>
    Cancelar
  </button>
  <button class="btn btn-primary" (click)="guardar()">
    <i class="now-ui-icons ui-1_check" style="margin-right: 5px"></i>
    Guardar
  </button>
</div>
