<tr>
  <td
    colspan="2"
    class="text-primary"
    style="background-color: rgba(0, 0, 0, 0.02)"
  >
    {{ titulo }}
  </td>
</tr>
<tr>
  <td>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>
        - Seleccionar -
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Action - 2</button>
      </div>
    </div>
  </td>
  <td>
    SD000 - PAIS
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>
        - Seleccionar -
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Action - 2</button>
      </div>
    </div>
  </td>
  <td>
    SD000 - ESTADO
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>
        - Seleccionar -
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Action - 2</button>
      </div>
    </div>
  </td>
  <td>
    SD006 - CIUDAD
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="Aldea El Carmen" />
  </td>
  <td>SD302 - ALDEA (EN CASO DE HABER)</td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="13 calle 9 avenida" />
  </td>
  <td>SD303 - CALLE Y AVENIDA (EN CASO DE HABER)</td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="Barrio Barandillas" />
  </td>
  <td>SD304 - BARRIO O COLONIA <span style="color: red">*</span></td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="Edificio 7" />
  </td>
  <td>
    SD305 - EDIFICIO CON NUMERO DE LOCAL O APARTAMENTO
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input
      type="text"
      class="form-control"
      placeholder="Junto al Hospital Escuela"
    />
  </td>
  <td>SD306 - PUNTOS DE REFERENCIA (EN CASO DE HABER)</td>
</tr>
