<tr>
  <td colspan="2" class="text-primary" style="background-color: rgba(0, 0, 0, 0.02)">
    INFORMACIÓN DE CONTACTO (EN EL CONTRATO DE ADHESIÓN SE MOSTRARÁ LOS NÚMEROS
    DE TELÉFONO REGISTRADOS EN LA ADMINISTRACION TRIBUTARIA)
  </td>
</tr>
<tr *ngIf="entidad === 'DE LA EMPRESA'">
  <td>
    <input type="text" class="form-control" placeholder="25055959" maxlength="20"
      (change)="telefonoFijoEmpresaOnChange($event)" />
  </td>
  <td>
    SD005 - NUMERO DE TELÉFONO FIJO {{ entidad }}
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="25055959" maxlength="8"
      (change)="telefonoFijoOnChange($event)" />
  </td>
  <td>
    SD004 - NUMERO DE TELÉFONO FIJO
    {{ entidad === "DE LA EMPRESA" ? "DEL REPRESENTANTE LEGAL" : entidad }}
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input type="text" class="form-control" placeholder="39055959" maxlength="8" 
    (change)="telefonoCelularOnChange($event)"/>
  </td>
  <td>
    SD065 - NUMERO DE TELÉFONO CELULAR
    {{ entidad === "DE LA EMPRESA" ? "DEL REPRESENTANTE LEGAL" : entidad }}
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input type="email" class="form-control" placeholder="johndoe@gmail.com"(change)="correoOnChange($event)" />
  </td>
  <td>
    SD042 - CORREO ELECTRÓNICO DONDE NOTIFICAR (PARA EFECTOS DE LA RECEPCIÓN O
    ENVÍO DE SOLICITUDES, ESCRITOS, AUTOS, NOTIFICACIONES, REQUERIMIENTOS Y
    CUALQUIER OTRO PROVEÍDO, COMUNICACIONES, RESOLUCIONES Y CUALQUIER OTRA
    ACTUACIÓN ANTE LA ADMINISTRACIÓN ADUANERA O EMITIDO POR ESTA)
    <span style="color: red">*</span>
  </td>
</tr>
<tr>
  <td>
    <input type="email" class="form-control" placeholder="johndoe@gmail.com" (change)="correoAlternativoOnChange($event)"/>
  </td>
  <td>
    SD201 - CORREO ELECTRÓNICO ALTERNATIVO
    <span style="color: red">*</span>
  </td>
</tr>