<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            SP009 - SOLICITUD DE CONTRATO DE ADHESION PARA PERSONA NATURAL
          </h5>
        </div>
        <div class="card-body">
          <form>
            <h6>Datos generales</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>RTN Solicitante</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="05012005042021"
                    maxlength="20"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="archivoRTN">Archivo de RTN Solicitante</label>
                  <input type="file" class="form-control" id="archivoRTN" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Documento Nacional de Identificación (DNI)</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="0501200504202"
                    maxlength="20"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="archivoRTN"
                    >Archivo de Documento Nacional de Identificación (DNI)
                  </label>
                  <input type="file" class="form-control" id="archivoRTN" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >Número Recibo de Servicio Público (ENEE, SANAA, etc.)
                  </label>
                  <input type="text" class="form-control" maxlength="20" placeholder="333333" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="archivoRTN"
                    >Archivo del Recibo Servicio Público
                  </label>
                  <input type="file" class="form-control" id="archivoRTN" />
                </div>
              </div>
            </div>
            <h6>Datos a Informar</h6>
            <small
              >- Todos los datos marcados con un
              <span style="color: red">*</span> son requeridos.</small
            >
            <div class="" style="overflow-x: auto">
              <table class="table table-bordered">
                <thead class="text-primary">
                  <th>Dato</th>
                  <th>Descripcion</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button class="dropdown-item">Action - 1</button>
                          <button class="dropdown-item">Action - 2</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      SD001 - OFICINA REGIONAL DE ADUANAS MÁS CERCANA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button class="dropdown-item">Action - 1</button>
                          <button class="dropdown-item">Action - 2</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      SD106 - ESTADO CIVIL DE LA PERSONA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button class="dropdown-item">Action - 1</button>
                          <button class="dropdown-item">Action - 2</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      SD108 - PROFESIÓN U OFICIO DE LA PERSONA (SEGUN
                      CLASIFICADOR NACIONAL DE OCUPACIONES DE HONDURAS,
                      CNOH-2018) <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                          <button class="dropdown-item">Action - 1</button>
                          <button class="dropdown-item">Action - 2</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      SD006 - DEPARTAMENTO Y MUNICIPIO
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="San Pedro Sula"/>
                    </td>
                    <td>SD301 - CIUDAD <span style="color: red">*</span></td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="13 calle 9 avenida junto a pollos lenca"/>
                    </td>
                    <td>
                      SD007 - DIRECCIÓN COMPLETA (INCLUYA SEGÚN APLIQUE: ALDEA,
                      CALLE Y AVENIDA, BARRIO O COLONIA, EDIFICIO O NÚMERO DE
                      LOCAL, APARTAMENTO, Y PUNTOS DE REFERENCIA)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="25055959" maxlength="8"/>
                    </td>
                    <td>
                      SD005 - NUMERO DE TELÉFONO FIJO DE LA PERSONA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="39055959" maxlength="8"/>
                    </td>
                    <td>
                      SD065 - NUMERO DE TELÉFONO CELULAR DE LA PERSONA
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="email" class="form-control" placeholder="johndoe@gmail.com"/>
                    </td>
                    <td>
                      SD042 - CORREO ELECTRÓNICO DONDE NOTIFICAR (PARA EFECTOS
                      DE LA RECEPCIÓN O ENVÍO DE SOLICITUDES, ESCRITOS, AUTOS,
                      NOTIFICACIONES, REQUERIMIENTOS Y CUALQUIER OTRO PROVEÍDO,
                      COMUNICACIONES, RESOLUCIONES Y CUALQUIER OTRA ACTUACIÓN
                      ANTE LA ADMINISTRACIÓN ADUANERA O EMITIDO POR ESTA)
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="email" class="form-control" placeholder="johndoe@gmail.com"/>
                    </td>
                    <td>
                      SD201 - CORREO ELECTRÓNICO ALTERNATIVO
                      <span style="color: red">*</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
